html {
    height: 100%;
}


main .cartao-pokemon.nova-imagem-li {
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif;
    max-width: 1580px;
    margin: 0 auto;
    background-color: #5e5b5bad;
    color: #333333;
}

body.modo-escuro {
    background-color: #212121;
    color: #f5f5f5;
}

body.fundo {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .imagem-botao {
    width: 40px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
    background: none;
    border: none;
}

header #botao-alterar-imagem {
    background: none;
    border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.xs-menu-cont {
    display: flex; /* Alinha os itens da lista horizontalmente */
    list-style: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão */
    margin: 0; /* Remove a margem padrão */
    background: hsla(9, 99%, 49%, 0.966); /* Cor de fundo do menu */
}


.xs-menu li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px; /* Ajuste o preenchimento conforme necessário */
    display: block;
}

.teste {
    display: flex; /* Alinha os itens da lista horizontalmente */

}

#menu-principal {
    display: flex;
    margin: 0 10px;
}

.botao-menu {
    margin-right: 0;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botao-menu:last-child {
    margin-right: 0;
}


main {
    padding: 25px;
	
}

main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
	
}



main .cartao-pokemon {
    background-color: #F0F8FF;
    width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
border-radius: 15px;
transition: 0.2s ease-in-out;

}

main .cartao-pokemon:hover {
background-color: #7FFFD4;

}

.modo-escuro .cartao-pokemon {
background-color: #696969;
}

main .cartao-pokemon .informacoes {
display: flex;
justify-content: space-between;
border: 1px solid #333333;
border-radius: 10px;
}

main .cartao-pokemon .informacoes span {
padding: 5px;
text-transform: uppercase;
font-size: 17px;
}

main .cartao-pokemon .gif {
width: 90px;
height: 90px;

}

main .cartao-pokemon .tipos {
display: flex;
gap: 15px
}

main .cartao-pokemon .tipo {
font-weight: 500;
padding: 8px;
border-radius: 10px;
}

.grama {
background-color: #7CFC00;
}

.veneno {
    background: -webkit-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -ms-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -moz-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -o-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background-color: #b97fc9;
}

.fogo {
background-color: #ee8130;
}

.agua {
background-color: #6390f0;
}

.inseto {
background-color: #a6b91a;
}

.voo {
background:-webkit-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
 background:-ms-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
 background:-moz-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
 background:-o-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
 background:linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
 background-color:#3dc7ef;
}

.normal {
    background: -webkit-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -ms-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -moz-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -o-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
}

.eletrico {
    background: -webkit-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -ms-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -moz-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -o-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background-color: #eed535;
}

.terra {
    background: -webkit-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -ms-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -moz-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -o-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
}

.fada {
    background: -webkit-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -ms-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -moz-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -o-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
}

.luta {
    background: -webkit-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -ms-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -moz-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -o-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background-color: #d56723;
}

.psiquico {
    background: -webkit-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -ms-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -moz-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -o-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
}

.pedra {
    background: -webkit-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -ms-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -moz-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -o-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
}

.aco {
    background: -webkit-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: -ms-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: -moz-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: -o-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background-color: #9eb7b8;
}

.gelo {
    background: -webkit-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: -ms-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: -moz-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: -o-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background-color: #51c4e7;
}

.fantasma {
    background: -webkit-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: -ms-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: -moz-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: -o-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background-color: #7b62a3;
}

.dragao {
    background: -webkit-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -ms-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -moz-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -o-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
}

main .descricao {
max-height: 80px;
overflow-y: scroll;
font-size: 14px;
padding-right: 10px;
}

.pokemon-lendario-gelo {
    background: linear-gradient(45deg, #fffb00, #48ff00, #00ffd5, #002bff, #ff00ab);
    background-size: 400% 400%;
    animation: rainbow 8s linear infinite;
}

.pokemon-lendario-eletrico {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00);
    background-size: 400% 400%;
    animation: rainbow 8s linear infinite;
}

.pokemon-lendario-fogo {
    background: linear-gradient(45deg, #ff0000, #ff0800d2, #ff4800, #ff0022, #ff0000);
    background-size: 400% 400%;
    animation: rainbow 8s linear infinite;
}

.pokemon-lendario-psiquico {
    background: linear-gradient(45deg, #ff00ab, #ff0037d2, #8a2af0, #ff00ab);
    background-size: 400% 400%;
    animation: rainbow 8s linear infinite;
}

/* Base de cores
.pokemon-lendario {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00ab, #ff0000);
    background-size: 400% 400%;
    animation: rainbow 8s linear infinite;
}
*/

@keyframes rainbow {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
